In [1]:
var_1 = 40;
var_2 = 50;

sum = var_1 + var_2

print(sum)

90

In [9]:
first_name = " Izzah";
last_name = "Amjad";

reverse_order= last_name + first_name;

print(reverse_order)

Amjad Izzah

In [11]:
radius_of_circle = 50;

area_of_circle = 3.14 * radius_of_circle * radius_of_circle;

print(area_of_circle)

7850.0

In [1]:
a = "30";
b = "/";
c = "12";
d = "/";
e = "2021";

Date = a + b + c + d + e ;

f = "9";
g = ":";
h = "56";
i = "PM";

Time = f + g + h + i;

print(Date);
print(Time)

30/12/2021
9:56PM

In [2]:
j = "python";
k = " 3";
l = ".";
m = "9";
n = ".";
o = "7"

python_version= j + k + l + m + n + o;

print(python_version)

python 3.9.7

In [16]:
var1 = "Twinkle";
var2 = ",";
var3 = "twinkle";
var4 = ",";
var5 = "little star,";

line_1 = var1 + var2 + var3 + var4 + var5;
print(line_1)

var6 = "       How";
var7 = " I";
var8 = " wonder";
var9 = " what";
var10 = " you";
var11 = " are!";

line_2 = var6 + var7 + var8 + var9 + var10 + var11;
print(line_2)

var12 = "               Up";
var13 = " above";
var14 = " the";
var15 = " world";
var16 = " so";
var17 = " high,";

line_3 = var12 + var13 + var14 + var15 + var16 + var17;
print(line_3)

var18 = "               Like";
var19 = " a";
var20 = " diamond";
var21 = " in";
var22 = " the";
var23 = " sky.";

line_4 = var18 + var19 + var20 + var21 + var22 + var23;
print(line_4)

var24 = "Twinkle";
var25 = ",";
var26 = "twinkle";
var27 = ",";
var28 = "little star,";

line_5 = var24 + var25 + var26 + var27 + var28;
print(line_5)

var29 = "       How";
var30 = " I";
var31 = " wonder";
var32 = " what";
var33 = " you";
var34 = " are!";

line_6 = var29 + var30 + var31 + var32 + var33 + var34;
print(line_6)

Twinkle,twinkle,little star,
       How I wonder what you are!
               Up above the world so high,
               Like a diamond in the sky.
Twinkle,twinkle,little star,
       How I wonder what you are!